html, body {
    display: grid;
    align-content: center;
    justify-content: center;
}

.logo-navbar {
    margin-left: 10px;
}
.item-ativo-navbar {
    color: black;
    font-weight: 600;
}
.formulario-alterar {
    background-color: black;
}