.fundo-banner1 {
    width: 100%;
    background-image: linear-gradient(#1d1d1d, #000000);
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.fonte-titulo-branco {
    font-weight: 300;
    color: white;
    font-size: 18px;
}

.fonte-titulo-verde {
    font-weight: 800;
    color: #00d200;
    font-size: 18px;
}

/*ÁREA PARA O DESIGN RESPONSIVO DO BANNER1*/

@media screen and (min-width: 769px) { /*PC, TV E ETC*/
    .conteudo-banner1 {
        width: 356px;
        margin: 0 auto;
        text-align: center;
    }

    .logo-xbox-banner1 {
        width: 128px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { /*PC, TV E ETC*/
    .conteudo-banner1 {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .logo-xbox-banner1 {
        width: 128px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) { /*PC, TV E ETC*/
    .conteudo-banner1 {
        width: 250px;
        margin: 0 auto;
        text-align: center;
    }

    .logo-xbox-banner1 {
        width: 128px;
        margin-top: 20px;
    }
}